@use "../../base/variables" as vars;

.archive-works {
  position: relative;
}

.archive-works__bg {
  padding: 140px 0 0;
}

.archive-works__inner {
  margin: 120px 0 0;
}

.archive-works__list {
  display: grid;
  grid-template-columns: repeat(3, 14rem);
  gap: 2rem;
}

.archive-works__text {
  font-size: vw(17);
  line-height: 1.6;
  letter-spacing: 0.02em;
}

.archive-works__text + .archive-works__text {
  margin: 32px 0 0;
}

.archive-works__load-more {
  display: flex;
  justify-content: center;
  margin: 80px 0 0;
}

.archive-works__load-more-btn {
  padding: 14px 40px;
  font-size: 16px;
  color: vars.$color-white;
  cursor: pointer;
  background-color: transparent;
  border: solid 1px rgba(vars.$color-white, 0.4);
  border-radius: 999px;
  transition:
    color vars.$duration-short,
    border-color vars.$duration-short;

  &:hover:not(:disabled) {
    color: vars.$color-green;
    border-color: vars.$color-green;
  }

  &:disabled {
    cursor: wait;
    opacity: 0.5;
  }
}

.archive-works__pagination {
  margin: 120px 0 0;
}
